<?xml version="1.0" encoding="utf-8"?>
<robot name="FINES">

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 -1.5708" />
      <geometry>
        <mesh filename="package://meshes/base_link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
  </link>

  <link name="base_lidar">
    <visual>
      <origin xyz="0 0 -0.04" rpy="0 0 3.14" />
      <geometry>
        <mesh filename="package://meshes/mid360.glb" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
  </link>

  <joint name="lidar_joint" type="fixed">
    <origin
      xyz="0.057 0.083 0.31"
      rpy="3.14 2.3038346 3.14" /> 
    <parent link="base_link" />
    <child link="base_lidar" />
  </joint>

</robot>